{% extends "base.html" %}
{% block body %}



<div class="masthead clearfix">
	<div class="inner">
	  <!-- <h3 class="masthead-brand">VIDEO PIZZA</h3> -->
	  <nav>
	    <ul class="nav masthead-nav">
	      <li><a href="/">Home</a></li>
	      <li class="active"><a href="/about">About</a></li>
	      <li><a href="/albums">Albums</a></li>
	    </ul>
	  </nav>
	</div>
</div>

<div class="inner cover">

<p class="text-justify">
word.camera uses convolutional neural networks (via <a href="http://clarifai.com" target="_blank">Clarifai</a>) to extract concept words from images. It expands those initial words (mostly nouns) into sentences and paragraphs using a lexical relationship database (<a href="http://conceptnet5.media.mit.edu/" target="_blank">ConceptNet</a>) and a flexible template system.
</p>

<p class="text-justify">
word.camera should work on most mobile devices with modern browsers, though page load time remains an issue. Along with that, I am currently working on improving word.camera's grammar and introducing some new features. This project is open source, and all my code is <a href="https://github.com/rossgoodwin/photosynthesis" target="_blank">available on GitHub</a>.
</p>

<p class="text-justify">
To receive updates about this project, please sign up for my email newsletter below. (One email per week at most, and likely far less frequent than that.)
</p>

 <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/lexography" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/lexography', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input class="black-text" type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input class="black-text" type="submit" value="Subscribe" /><p><small><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small></p></form>


</div>

{% endblock %}