{% extends "base.html" %}
{% block body %}

<div class="masthead clearfix">
	<div class="inner">
	  <!-- <h3 class="masthead-brand">VIDEO PIZZA</h3> -->
	  <nav>
	    <ul class="nav masthead-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/about">About</a></li>
	      <li class="active"><a href="/albums">Albums</a></li>
	    </ul>
	  </nav>
	</div>
</div>

<div class="inner cover">

	<p class="text-center">
	Coming soon: download your lexographs as ebooks.
	</p>

</div>

{% endblock %}