{% extends "base.html" %}
{% block body %}

<div class="masthead clearfix">
	<div class="inner">
	  <!-- <h3 class="masthead-brand">VIDEO PIZZA</h3> -->
	  <nav>
	    <ul class="nav masthead-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/about">About</a></li>
	      <li><a href="/albums">Albums</a></li>
          <li><a href="/postcards">Postcards</a></li>
	    </ul>
	  </nav>
	</div>
</div>

<div class="inner cover">

<p class="lead">
Your card was declined.
</p>

<p>
Sorry about that. You can <a href="/postcards">try again</a> with another card.
</p>

</div>

{% endblock %}