{% extends "base.html" %}
{% block body %}

<div class="masthead clearfix">
	<div class="inner">
	  <!-- <h3 class="masthead-brand">VIDEO PIZZA</h3> -->
	  <nav>
	    <ul class="nav masthead-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/about">About</a></li>
	      <li><a href="/albums">Albums</a></li>
	    </ul>
	  </nav>
	</div>
</div>

<div class="inner cover">

	<p class="text-center lead">
	500<br />Our server just melted, and it's </em>all your fault.</em>
	</p>

	<p class="text-left">Probable causes:</p>
	<ul class="text-left">
	<li>Large file</li>
	<li>File type (JPEGs work best)</li>
	<li>Machine elves</li>
	<li>Developer tweaking the code right now</li>
	</ul>

	<p class="text-left"><small>This is experimental software, and some users receive 500 errors. Unfortunately, in a shocking turn of events, <em>you</em> happen to be one of those users, today, at this very moment. Isn't that weird? Aren't you having a weird day on the internet? ... Oh, no? Alright. I'm so sorry. Had I known, I never would have let this happen. Be strong in this hour of quiet struggle, and return to <a href="/">word.camera</a> to try again.</small></p>

</div>

{% endblock %}