{% extends "base.html" %}
{% block body %}

<div class="masthead clearfix">
	<div class="inner">
	  <!-- <h3 class="masthead-brand">VIDEO PIZZA</h3> -->
	  <nav>
	    <ul class="nav masthead-nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/about">About</a></li>
	      <li><a href="/albums">Albums</a></li>
	    </ul>
	  </nav>
	</div>
</div>

<div class="inner cover">

	<p class="text-center lead">
	404<br />This page does not exist.</em>
	</p>
	<p class="text-left"><small>You might be thinking to yourself, "Hey, wait a minute, I'm looking at a page right now." But there's no page here, I promise.</small></p>

</div>

{% endblock %}